In [2]:
import pandas as pd
import numpy as np
import matplotlib as mp
import seaborn as sbs

df = pd.read_csv('./wordBank.csv')
df.head()

,Unnamed: 0,Time,Time Code,Country Name,Country Code,"Population, total",Population growth (annual %),Surface area (sq. km),Poverty headcount ratio at national poverty lines (% of population),"GNI, Atlas method (current US$)",...,Antiretroviral therapy coverage (% of people living with HIV),"Labor force, female (% of total labor force)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, adult, female (per 1,000 female adults)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,"Patent applications, nonresidents","Patent applications, residents",People practicing open defecation (% of population)
0,0,2000,YR2000,Afghanistan,AFG,20779953.0,2.975053,652860.0,NaN,NaN,...,0.0,32.478695,333.875,287.786,90127.0,15000.0,62440.0,NaN,NaN,26.019658
1,1,2000,YR2000,Albania,ALB,3089027.0,-0.637357,28750.0,NaN,3.409087e+09,...,NaN,41.132334,124.340,65.051,1205.0,12.0,590.0,NaN,NaN,0.864679
2,2,2000,YR2000,Algeria,DZA,31042235.0,1.358408,2381740.0,NaN,4.949310e+10,...,8.0,13.517815,158.714,122.258,20630.0,980.0,12949.0,127.0,32.0,6.382788
3,3,2000,YR2000,American Samoa,ASM,57821.0,1.337137,200.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2000,YR2000,Andorra,AND,65390.0,1.572166,470.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,NaN,0.000000

In [3]:
df.tail()

,Unnamed: 0,Time,Time Code,Country Name,Country Code,"Population, total",Population growth (annual %),Surface area (sq. km),Poverty headcount ratio at national poverty lines (% of population),"GNI, Atlas method (current US$)",...,Antiretroviral therapy coverage (% of people living with HIV),"Labor force, female (% of total labor force)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, adult, female (per 1,000 female adults)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,"Patent applications, nonresidents","Patent applications, residents",People practicing open defecation (% of population)
4315,4730,2017,YR2017,Low & middle income,LMY,6.306561e+09,1.265433,9.480824e+07,NaN,2.853760e+13,...,NaN,37.996494,181.402990,122.060595,4055486.0,293000.0,2501753.0,269760.0,1329624.0,10.785791
4316,4733,2017,YR2017,Middle East & North Africa,MEA,4.412552e+08,1.766063,1.137062e+07,NaN,3.216862e+12,...,33.921472,20.298749,135.176035,89.111477,189864.0,5800.0,126343.0,14907.0,18985.0,2.490191
4317,4734,2017,YR2017,Middle East & North Africa (excluding high inc...,MNA,3.765468e+08,1.693409,8.775232e+06,NaN,1.456532e+12,...,33.741797,20.044068,145.905505,91.782168,183223.0,5700.0,122279.0,4302.0,16557.0,3.066148
4318,4735,2017,YR2017,Middle East & North Africa (IDA & IBRD countries),TMN,3.720920e+08,1.689647,8.769212e+06,NaN,1.440594e+12,...,33.741797,20.035700,146.098480,91.759623,180708.0,5600.0,120693.0,4302.0,16557.0,3.113279
4319,4741,2017,YR2017,Pacific island small states,PSS,2.422086e+06,1.414349,6.515000e+04,NaN,9.432769e+09,...,NaN,38.348597,190.893173,122.464502,1328.0,43.0,692.0,NaN,NaN,16.563122

In [ ]:
df.tail()

In [ ]:
df.to_csv('worldBank.csv')