In [1]:
import pandas as pd

df = pd.read_csv('./proper.csv', index_col=0)
df

,Time Code,Country Code,"Population, total",Population growth (annual %),Surface area (sq. km),Poverty headcount ratio at national poverty lines (% of population),"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)",...,Antiretroviral therapy coverage (% of people living with HIV),"Labor force, female (% of total labor force)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, adult, female (per 1,000 female adults)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,"Patent applications, nonresidents","Patent applications, residents",People practicing open defecation (% of population)
0,YR2000,AFG,20779953.0,2.975053,652860.0,NaN,NaN,NaN,NaN,NaN,...,0.0,32.478695,333.875,287.786,90127.0,15000.0,62440.0,NaN,NaN,26.019658
1,YR2000,ALB,3089027.0,-0.637357,28750.0,NaN,3.409087e+09,1100.0,1.229371e+10,3980.0,...,NaN,41.132334,124.340,65.051,1205.0,12.0,590.0,NaN,NaN,0.864679
2,YR2000,DZA,31042235.0,1.358408,2381740.0,NaN,4.949310e+10,1590.0,2.408470e+11,7760.0,...,8.0,13.517815,158.714,122.258,20630.0,980.0,12949.0,127.0,32.0,6.382788
3,YR2000,ASM,57821.0,1.337137,200.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,YR2000,AND,65390.0,1.572166,470.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,YR2017,VIR,107268.0,-0.225349,350.0,NaN,NaN,NaN,NaN,NaN,...,NaN,49.806716,71.660,41.773,NaN,NaN,NaN,NaN,NaN,0.000000
3902,YR2017,PSE,4454805.0,1.988686,6020.0,NaN,1.566556e+10,3520.0,2.593091e+10,5820.0,...,NaN,20.827643,128.255,93.882,2515.0,39.0,1586.0,NaN,NaN,0.163598
3903,YR2017,YEM,27834821.0,2.424025,527970.0,NaN,2.937918e+10,1060.0,7.353775e+10,2640.0,...,21.0,7.963630,240.420,192.885,36700.0,1400.0,23320.0,13.0,15.0,19.573479
3904,YR2017,ZMB,16853688.0,2.951583,752610.0,NaN,2.187718e+10,1300.0,6.587892e+10,3910.0,...,70.0,48.211328,341.804,236.931,25324.0,1300.0,14820.0,10.0,12.0,19.302868
3905,YR2017,ZWE,14236745.0,1.460061,390760.0,70.0,1.957240e+10,1370.0,3.677104e+10,2580.0,...,81.0,51.006964,362.446,300.101,16015.0,2100.0,9696.0,NaN,NaN,24.930723

In [2]:
# remove any cols from the dataset where the mean number of NaN is greater than 25%
df = df[df.columns[df.isnull().mean() < 0.25]]

In [3]:
# Subset by Yearcode
dfOverall = df.loc[(df['Time Code'] >= 'YR2007') & (df['Time Code'] <= 'YR2017')]

df2017 = df.loc[df['Time Code'] == 'YR2017']
df2016 = df.loc[df['Time Code'] == 'YR2016']
df2015 = df.loc[df['Time Code'] == 'YR2015']
df2014 = df.loc[df['Time Code'] == 'YR2014']
df2013 = df.loc[df['Time Code'] == 'YR2013']
df2012 = df.loc[df['Time Code'] == 'YR2012']
df2011 = df.loc[df['Time Code'] == 'YR2011']
df2010 = df.loc[df['Time Code'] == 'YR2010']
df2009 = df.loc[df['Time Code'] == 'YR2009']
df2008 = df.loc[df['Time Code'] == 'YR2008']
df2007 = df.loc[df['Time Code'] == 'YR2007']

dfOverall

,Time Code,Country Code,"Population, total",Population growth (annual %),Surface area (sq. km),"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)","Life expectancy at birth, total (years)",...,GDP per capita (current US$),"Foreign direct investment, net (BoP, current US$)","Inflation, consumer prices (annual %)","Labor force, female (% of total labor force)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, adult, female (per 1,000 female adults)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,People practicing open defecation (% of population)
1519,YR2007,AFG,27100536.0,2.493842,652860.0,NaN,NaN,NaN,NaN,59.375000,...,359.693480,NaN,8.680571,32.785828,286.238,243.045,81983.0,13000.0,60036.0,20.939465
1520,YR2007,ALB,2970017.0,-0.755719,28750.0,1.027310e+10,3460.0,2.221201e+10,7480.0,75.646000,...,3595.037163,-6.473653e+08,2.932682,42.249276,105.914,59.481,554.0,7.0,269.0,0.527277
1521,YR2007,DZA,34166972.0,1.551383,2381740.0,1.228708e+11,3600.0,4.004697e+11,11720.0,73.936000,...,3950.513605,-1.539745e+09,3.678996,15.802932,122.997,97.069,19704.0,920.0,14207.0,3.422841
1522,YR2007,ASM,58365.0,-1.263297,200.0,NaN,NaN,NaN,NaN,NaN,...,8909.449156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.728038
1523,YR2007,AND,82684.0,2.066338,470.0,NaN,NaN,NaN,NaN,NaN,...,48582.220880,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3901,YR2017,VIR,107268.0,-0.225349,350.0,NaN,NaN,NaN,NaN,79.419512,...,35938.024390,NaN,NaN,49.806716,71.660,41.773,NaN,NaN,NaN,0.000000
3902,YR2017,PSE,4454805.0,1.988686,6020.0,1.566556e+10,3520.0,2.593091e+10,5820.0,73.740000,...,3254.485887,-2.218091e+08,0.212571,20.827643,128.255,93.882,2515.0,39.0,1586.0,0.163598
3903,YR2017,YEM,27834821.0,2.424025,527970.0,2.937918e+10,1060.0,7.353775e+10,2640.0,66.086000,...,963.494721,NaN,NaN,7.963630,240.420,192.885,36700.0,1400.0,23320.0,19.573479
3904,YR2017,ZMB,16853688.0,2.951583,752610.0,2.187718e+10,1300.0,6.587892e+10,3910.0,63.043000,...,1534.865371,-1.071899e+09,6.577312,48.211328,341.804,236.931,25324.0,1300.0,14820.0,19.302868
3905,YR2017,ZWE,14236745.0,1.460061,390760.0,1.957240e+10,1370.0,3.677104e+10,2580.0,60.812000,...,1602.403507,-2.471877e+08,0.909733,51.006964,362.446,300.101,16015.0,2100.0,9696.0,24.930723

In [4]:
# Drop the time code field from the induvidual year Dataframes, but keep it in overall
df2017.drop(['Time Code'], axis=1)
df2016.drop(['Time Code'], axis=1)
df2015.drop(['Time Code'], axis=1)
df2014.drop(['Time Code'], axis=1)
df2013.drop(['Time Code'], axis=1)
df2012.drop(['Time Code'], axis=1)
df2011.drop(['Time Code'], axis=1)
df2010.drop(['Time Code'], axis=1)
df2009.drop(['Time Code'], axis=1)
df2008.drop(['Time Code'], axis=1)
df2007.drop(['Time Code'], axis=1)

,Country Code,"Population, total",Population growth (annual %),Surface area (sq. km),"GNI, Atlas method (current US$)","GNI per capita, Atlas method (current US$)","GNI, PPP (current international $)","GNI per capita, PPP (current international $)","Life expectancy at birth, total (years)","Fertility rate, total (births per woman)",...,GDP per capita (current US$),"Foreign direct investment, net (BoP, current US$)","Inflation, consumer prices (annual %)","Labor force, female (% of total labor force)","Mortality rate, adult, male (per 1,000 male adults)","Mortality rate, adult, female (per 1,000 female adults)",Number of infant deaths,Number of maternal deaths,Number of neonatal deaths,People practicing open defecation (% of population)
1519,AFG,27100536.0,2.493842,652860.0,NaN,NaN,NaN,NaN,59.375000,6.555,...,359.693480,NaN,8.680571,32.785828,286.238,243.045,81983.0,13000.0,60036.0,20.939465
1520,ALB,2970017.0,-0.755719,28750.0,1.027310e+10,3460.0,2.221201e+10,7480.0,75.646000,1.671,...,3595.037163,-6.473653e+08,2.932682,42.249276,105.914,59.481,554.0,7.0,269.0,0.527277
1521,DZA,34166972.0,1.551383,2381740.0,1.228708e+11,3600.0,4.004697e+11,11720.0,73.936000,2.649,...,3950.513605,-1.539745e+09,3.678996,15.802932,122.997,97.069,19704.0,920.0,14207.0,3.422841
1522,ASM,58365.0,-1.263297,200.0,NaN,NaN,NaN,NaN,NaN,NaN,...,8909.449156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.728038
1523,AND,82684.0,2.066338,470.0,NaN,NaN,NaN,NaN,NaN,1.180,...,48582.220880,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1731,VIR,108339.0,-0.029533,350.0,NaN,NaN,NaN,NaN,76.860976,2.510,...,44333.065660,NaN,NaN,48.575559,91.079,56.488,NaN,NaN,NaN,0.000000
1732,PSE,3494496.0,2.555252,6020.0,5.935703e+09,1700.0,1.266776e+10,3630.0,72.366000,4.631,...,1575.563400,1.556383e+07,1.859744,18.832713,145.575,106.795,2684.0,72.0,1753.0,0.409610
1733,YEM,21282515.0,2.834913,527970.0,1.902252e+10,890.0,8.059251e+10,3790.0,64.470000,5.090,...,1017.292001,-9.173000e+08,7.905118,15.210521,267.553,221.337,36908.0,1700.0,22497.0,25.733230
1734,ZMB,12502958.0,2.670265,752610.0,1.124729e+10,900.0,2.935074e+10,2350.0,51.134000,5.650,...,1124.290586,-1.323900e+09,10.657350,47.535806,507.420,437.915,31321.0,2100.0,14459.0,22.300381
1735,ZWE,12255922.0,0.822825,390760.0,5.091731e+09,420.0,1.947494e+10,1590.0,44.947000,3.873,...,431.787188,NaN,NaN,50.417712,661.877,613.239,24792.0,2900.0,12287.0,27.995125

In [5]:
# write out new datasets
df2017.to_csv('./worldBank2017.csv', index=False)
df2016.to_csv('./worldBank2016.csv', index=False)
df2015.to_csv('./worldBank2015.csv', index=False)
df2014.to_csv('./worldBank2014.csv', index=False)
df2013.to_csv('./worldBank2013.csv', index=False)
df2012.to_csv('./worldBank2012.csv', index=False)
df2011.to_csv('./worldBank2011.csv', index=False)
df2010.to_csv('./worldBank2010.csv', index=False)
df2009.to_csv('./worldBank2009.csv', index=False)
df2008.to_csv('./worldBank2008.csv', index=False)
df2007.to_csv('./worldBank2007.csv', index=False)